<div class="container">
  <h1>Menú Principal</h1>
  <div class="row row-cols-4">
    <div class="col text-center">
      <button class="btn btn-primary btn-block" (click)="navigateTo('ventas')">Ventas</button>
    </div>
    <div class="col text-center">
      <button class="btn btn-primary btn-block" (click)="navigateTo('inventario')">Inventario</button>
    </div>
    <div class="col text-center">
      <button class="btn btn-primary btn-block" (click)="navigateTo('compras')">Compras</button>
    </div>
  </div>
</div>
