<div class="container my-3">
    <h2 class="text-center">Productos</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Descipción</th>
                    <th>Precio</th>
                    <th>Costo</th>
                    <th>Stock</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let producto of productos">
                    <td scope="row">{{producto.codigo}}</td>
                    <td>{{producto.descripcion}}</td>
                    <td>{{producto.precio}}</td>
                    <td>{{producto.costo}}</td>
                    <td>{{producto.stock}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
